@page
@model My_Face.Pages.Pocetna_stranica.MojProfilModel
@{
}


<div class="container">
    <form method="post">
        <img src="@Model.zaPrikaz.Slika" />
        <div>@Model.zaPrikaz.Ime</div>
        <div>@Model.zaPrikaz.Prezime</div>
        <div>@Model.zaPrikaz.DatumRodjenja</div>
        <div>@Model.zaPrikaz.Adresa</div>

        @foreach (var item in Model.objaveZaPrikaz)
        {
            <div>@item.DatumObjave</div>
            <div>@item.Tekst</div>
            <div>@item.Slika</div>
            <button asp-page-handler="Lajkuj" asp-route-id="@item.ID">Like</button>
            <button asp-page-handler="Unlajkuj" asp-route-id="@item.ID">Unlike</button>
            <button asp-page-handler="Podeli" asp-route-id="@item.ID">Podeli</button>
            <label>Kommentarisi :</label>
            <input type="text" />
        }
    </form>
</div>