@page
@model My_Face.Pages.Pocetna_stranica.VremenskaLinijaModel
@{
    Layout = "_LayoutPocetna";
}
@section ProfilnaSlika{
    <img src="@Model.Korisnik.Slika" alt="" class="img-responsive profile-photo" />
}
@section ProfilnaSlikaPozadina{
    <style>
        .timeline-cover {
            background: url("@Model.Korisnik.SlikaPozadine") no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 360px;
            border-radius: 0 0 4px 4px;
            position: relative;
        }
    </style>
}
@section ImeIPrezime{
    @Model.Korisnik.Ime @Model.Korisnik.Prezime
}
@section ProfilnaSlika2{
    @Model.Korisnik.Slika
}
@section ImeIPrezime2{
    @Model.Korisnik.Ime @Model.Korisnik.Prezime
}
@section BrojPratilaca{
    Pratilaca : @Model.BrojPratilaca()
}

@if (Model.ObjaveKorisnika != null)
{
    @foreach (var item in Model.ObjaveKorisnika)
    {
        <form method="post">
            <div class="post-content">

                <!--Post Date-->
                <div class="post-date hidden-xs hidden-sm">
                    <h5>@item.Korisnik.Ime</h5>
                    <p class="text-grey">@item.Objava.DatumObjave</p>
                </div><!--Post Date End-->

                <img src="@item.Objava.Slika" alt="post-image" class="img-responsive post-image" />
                <div class="post-container">
                    <img src="@item.Korisnik.Slika" alt="user" class="profile-photo-md pull-left" />
                    <div class="post-detail">
                        <div class="user-info">
                            <h5>@item.Korisnik.Ime @item.Korisnik.Prezime <span class="following">following</span></h5>
                        </div>
                        <div class="reaction">

                            <button class="btn text-green" asp-route-id="@item.Objava.ID" asp-page-handler="Lajk"><i class="icon ion-thumbsup"></i></button>
                            <p>@item.Objava.Lajkova</p>
                            <button class="btn text-red" asp-route-id="@item.Objava.ID" asp-page-handler="Dislajk"><i class="fa fa-thumbs-down"></i></button>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-text">
                            <p> @item.Objava.Tekst </p>
                        </div>
                        <div class="line-divider"></div>

                        @foreach (var item2 in @Model.KomentariZaObjave.GetValueOrDefault(item.Objava.ID))
                        {
                            <div class="post-comment">
                                <img src="@item2.Korisnik.Slika" alt="" class="profile-photo-sm" />
                                <p>@item2.Korisnik.Ime @item2.Tekst</p>
                            </div>
                        }

                        <div class="post-comment">
                            <img src="@Model.Korisnik.Slika" alt="" class="profile-photo-sm" />
                            <input type="text" asp-for="Komentarcic" class="form-control" placeholder="Post a comment">
                            <button class="btn text-red" asp-route-id="@item.Objava.ID" asp-page-handler="Komentarisi">Komentarisi</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    }
}
@if (Model.ObjaveStranice != null) { 
    @foreach (var item in Model.ObjaveStranice)
    {
        <form method="post">
            <div class="post-content">

                <!--Post Date-->
                <div class="post-date hidden-xs hidden-sm">
                    <h5>@item.Stranica.Naziv</h5>
                    <p class="text-grey">@item.Objava.DatumObjave</p>
                </div><!--Post Date End-->

                <img src="@item.Objava.Slika" alt="post-image" class="img-responsive post-image" />
                <div class="post-container">
                    <img src="@item.Stranica.Slika" alt="user" class="profile-photo-md pull-left" />
                    <div class="post-detail">
                        <div class="user-info">
                            <h5>@item.Stranica.Naziv <span class="following">following</span></h5>
                        </div>
                        <div class="reaction">

                            <button class="btn text-green" asp-route-id="@item.Objava.ID" asp-page-handler="Lajk"><i class="icon ion-thumbsup"></i></button>
                            <p>@item.Objava.Lajkova</p>
                            <button class="btn text-red" asp-route-id="@item.Objava.ID" asp-page-handler="Dislajk"><i class="fa fa-thumbs-down"></i></button>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-text">
                            <p> @item.Objava.Tekst </p>
                        </div>
                        <div class="line-divider"></div>

                        @foreach (var item2 in @Model.KomentariZaObjave.GetValueOrDefault(item.Objava.ID))
                        {
                            <div class="post-comment">
                                <img src="@item2.Korisnik.Slika" alt="" class="profile-photo-sm" />
                                <p>@item2.Korisnik.Ime@item2.Tekst</p>
                            </div>
                        }

                        <div class="post-comment">
                            <img src="@Model.Korisnik.Slika" alt="" class="profile-photo-sm" />
                            <input type="text" asp-for="Komentarcic" class="form-control" placeholder="Post a comment">
                            <button class="btn text-red" asp-route-id="@item.Objava.ID" asp-page-handler="Komentarisi">Komentarisi</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    }
}