@page
@model My_Face.Pages.Prijatelji.ListaPrijateljaModel
@{
    Layout = "_LayoutPocetna";
}
@section ProfilnaSlika{
    <img src="@Model.Korisnik.Slika" alt="" class="img-responsive profile-photo" />
}
@section ProfilnaSlikaPozadina{
    <style>
        .timeline-cover {
            background: url("@Model.Korisnik.SlikaPozadine") no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 360px;
            border-radius: 0 0 4px 4px;
            position: relative;
        }
    </style>
}
@section ImeIPrezime{
    @Model.Korisnik.Ime @Model.Korisnik.Prezime
}
@section ProfilnaSlika2{
    @Model.Korisnik.Slika
}
@section ImeIPrezime2{
    @Model.Korisnik.Ime @Model.Korisnik.Prezime
}
<form method="post">
    <input type="hidden" asp-for="idKorisnika" />
    <div class="friend-list">
        <div class="row">
            @if (Model.Prijatelji != null)
            {
                @foreach (var item in Model.Prijatelji)
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="friend-card">
                            <img src=@item.Korisnik2.SlikaPozadine alt="profile-cover" class="img-responsive cover" />
                            <div class="card-info">
                                <img src=@item.Korisnik2.Slika alt="user" class="profile-photo-lg" />
                                <div class="friend-info">
                                    <a href="#" class="pull-right text-green">My Friend</a>
                                    <h5><a href="#" class="profile-link">@item.Korisnik2.Ime @item.Korisnik2.Prezime</a></h5>
                                    <input class="btn btn-danger" asp-route-id="@item.Korisnik2.ID" asp-page-handler="Blokiraj" type="submit" value="Blokiraj" />
                                    <input class="btn btn-light" asp-route-id="@item.Korisnik2.ID" asp-page-handler="Izbaci" type="submit" value="Izbaci" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</form>