@page
@model My_Face.Pages.Prijatelji.ObavestenjaModel
@{
    Layout = "_LayoutPocetna";
}
@section ProfilnaSlika{
    <img src="@Model.Korisnik.Slika" alt="" class="img-responsive profile-photo" />
}
@section ProfilnaSlikaPozadina{
    <style>
        .timeline-cover {
            background: url("@Model.Korisnik.SlikaPozadine") no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 360px;
            border-radius: 0 0 4px 4px;
            position: relative;
        }
    </style>
}
@section ImeIPrezime{
    @Model.Korisnik.Ime @Model.Korisnik.Prezime
}
@section ProfilnaSlika2{
    @Model.Korisnik.Slika
}
@section ImeIPrezime2{
    @Model.Korisnik.Ime @Model.Korisnik.Prezime
}
<style>
    strong{
        color:black;
    }
    .divceZaTekst{
        color:black;
        background-color:khaki;
    }
</style>
<section>
    <div class="square_box box_three"></div>
    <div class="square_box box_four"></div>
    <div class="container mt-5">
        <div class="row">

            @for (int i = 0; i < Model.notifikacije.Count; i++)
            {
                <form method="POST">
                    <div class="col-sm-12">
                            <i class="start-icon fa fa-thumbs-up faa-bounce animated"></i>
                            <strong class="font__weight-semibold">Obavestenje!</strong> Korisnik @Model.imena[i] ima novu objavu. Datum objave @Model.notifikacije[i].senttime
                            <input type="submit" class="btn btn-primary" asp-route-id=@Model.notifikacije[i].id asp-page-handler="Obrisi" value="Obrisi">
                    </div>
                </form>
            }
        </div>
    </div>
</section>